<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/create.css">
    <title>Create Blog</title>
</head>

<body>
    <video autoplay muted loop id="bgVideo">
        <source src="/vid/bg-video.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="home">
            <button><a href="/blogs" style="text-decoration: none; color: inherit;"><img src="/img/home.png" alt=""></a></button>
        </div>
        <div class="create-blog">
            <form action="/create-blog" method="POST">

                <label for="title">Title</label><br><br>
                <input type="text" id="title" name="title" required><br><br>

                <label for="content">Content</label><br><br>
                <textarea id="content" name="content" required></textarea><br><br>

                <label for="media">Media URL</label><br>
                <input type="url" id="media" name="media" required><br>

                <div class="sub-btn">
                    <button type="submit"><img src="/img/submit.png" alt=""></button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>