<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Signup | Blog</title>
</head>
<body>
    <video autoplay muted loop id="bgVideo">
        <source src="/vid/bg-video.mp4" type="video/mp4">  
    </video>
    <div class="container">
        <div class="heading">
            <h1>Signup</h1>
        </div>
        <div class="login">
            <form action="/signup" method="POST">
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" required><br>

                <div class="sub-btn">
                    <button class="btn" type="submit"><img src="/img/submit.png" alt=""></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>